In [ ]:
import sqlite3
import pandas as pd
import os
import requests
import math
import numpy as np
import matplotlib

# Lab Reviews

## Segment 1

You could try to download the data from https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data and convert it into a dataframe.

In [ ]:
your_df.to_sql("your_table_name", conn, if_exists="replace", index=False)

## Segment 2

In [ ]:
iris_conn = sqlite3.connect("iris-flowers.db")
pd.read_sql("SELECT * FROM sqlite_master WHERE type='table'", iris_conn)

In [ ]:
# How many flowers have a petal length greater than 5.0?
pd.read_sql("""

""", iris_conn)

In [ ]:
# How many flowers have a unique petal width?
pd.read_sql("""

""", iris_conn)

In [ ]:
# Using SQL, get the 10 'Iris-setosa' flowers with the longest sepal length.
# Break any ties by ordering by the shortest sepal width.

pd.read_sql("""

""", iris_conn)

In [ ]:
# What is the average petal length for each type of flower? Order by petal length.
pd.read_sql("""

""", iris_conn)

In [ ]:
iris_df = pd.read_sql("""
    SELECT *
    FROM iris
""", iris_conn)
iris_df

In [ ]:
iris.close()

## Segment 3

In [ ]:
students = pd.DataFrame({
    "name": [
        "Cole",
        "Cynthia",
        "Alice",
        "Seth"
    ],
    "grade": [
        "C",
        "AB",
        "B",
        "BC"
    ],
    "gpa": [
        2.0,
        3.5,
        3.0,
        2.5
    ],
    "attendance": [
        4,
        11,
        10,
        6
    ],
    "height": [
        68,
        66,
        60,
        72
    ]
})
students

In [ ]:
# What will this plot?
students.plot.bar()

In [ ]:
# Plot the student's name vs their GPA (using x, y -- NOT set_index)

In [ ]:
# Make a scatter plot of the iris's petal length vs width.

In [ ]:
# Hardcode in a regression line. Assume the "rise" is 2.5 and the "run" is 7.0