In [ ]:
# Warmup 0
import pandas as pd
from pandas import DataFrame, Series
import sqlite3
import os

In [ ]:
# Warmup 1: Create a datbase called student_grades.db with a single table called "grades".
grades_conn = ???
df = pd.DataFrame({
    "name": [
        "Cole",
        "Cynthia",
        "Alice",
        "Seth"
    ],
    "grade": [
        "C",
        "AB",
        "B",
        "BC"
    ],
    "gpa": [
        2.0,
        3.5,
        3.0,
        2.5
    ],
    "attendance": [
        4,
        11,
        10,
        6
    ]
})
df.to_sql(???, con=grades_conn, if_exists="replace", index=False)

In [ ]:
# Warmup 2: Answer: What are the columns of our table? What are their datatypes?

In [ ]:
# Warmup 3: Write the query to print out the data types.

In [ ]:
# Warmup 4: Write a query to get a DataFrame with all of the data on the 'grades' table.
#           Save this to a variable called "stud_grades" and display it.
stud_grades = ???
stud_grades

In [ ]:
# Warmup 5: Make a scatter plot where the attendance of a student us on the x-axis
#           and their gpa on the y-axis

In [ ]:
# Warmup 6: What is the correlation between gpa and attendance?

In [ ]:
# Warmup 7: Close the connection.
grades_conn.close()

In [ ]:
# this allows the full screen to be used
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Lecture 35: Bar Plots

Learning Objectives:
- Make a bar plot from a Pandas Series
- Add features: x-label, y-label, title, gridlines, color to plot
- Set the index of a DataFrame certain column
- Create an 'other' column in a DataFrame

In [ ]:
# Without this Jupyter notebook cannot display the "first" plot in older versions of Python / mathplotlib / jupyter
%matplotlib inline

### Helpful documentation and an overview of how Matplotlib works
https://matplotlib.org/stable/tutorials/introductory/usage.html

In [ ]:
# matplotlib is a plotting module similar to MATLAB
import matplotlib
from matplotlib import pyplot as plt

# matplotlib is highly configurable, acts like a style sheet for Pandas Plots
# rc stands for runtime config, syntax is like a dictionary

# matplotlib.rcParams                        # show all parameters
# matplotlib.rcParams["font.size"]           # show current font size setting
# matplotlib.rcParams["font.size"] = 18      # change current font size setting

## Bar plots: From a Series
The index is the x-label

The values are the height of each bar

https://pandas.pydata.org/docs/reference/api/pandas.Series.plot.bar.html

In [ ]:
s = Series({"Police": 5000000, "Fire": 3000000, "Schools": 2000000})

# make a bar plot...notice the type

In [ ]:
# if we store the returned object in a variable, we can configure the AxesSubplot
# typically the variable name used is 'ax'
ax = s.plot.bar()

### How can we set the x-axis, y-axis labels, and title?
- use the Axes object

In [ ]:
# better plot:
# instead of 1e6, divide all values in s by 1 million
ax = (s / 1000000).plot.bar()

# give the x ticklabels a rotation of 45 degrees
# ax.set_xticklabels(list(s.index), rotation = 45)

# set the y_label to "Dollars (Millions)"
# ax.set_ylabel("Dollars (Millions)")

# set the title to "Annual City Spending"
# ax.set_title("Annual City Spending")

### How can we change the figure size?
- figsize keyword argument
- should be a tuple with two values: width and height (in inches)

In [ ]:
ax = (s / 1000000).plot.bar(figsize = ???)
ax.set_ylabel("Dollars (Millions)")
ax.set_title("Annual City Spending")

### How can we make the bars horizontal?
https://pandas.pydata.org/docs/reference/api/pandas.Series.plot.barh.html
- switch figsize arguments
- change y-label to x-label

In [ ]:
# paste the previous code cell here and modify

### Change bar color by using the argument color= ' ' 
<pre>
- plot.bar(figsize = (width,height ) , color = ??? )
- 8 standard colors: r, g, b, c, m, y, k, w    color = 'c'  cyan
- can use value of grey between 0 and 1        color = '0.6'
- can use a tuple (r,g,b) between 0 and 1      color = (0, .3, .4)
</pre>

In [ ]:
# color as a single char

In [ ]:
# color as a value of grey

In [ ]:
# color as tuple of (r,g,b)

### How can we mark gridlines?
- use ax.grid()

In [ ]:
# copy the previous code and add grid lines

## Examples with the Bus Route Database

In [ ]:
path = "bus.db"
assert os.path.exists(path)
conn = sqlite3.connect(path)

### Recap on exploring SQL database

In [ ]:
pd.read_sql("""
    SELECT *
    FROM sqlite_master
    WHERE type = 'table'
""", conn)

In [ ]:
pd.read_sql("""
SELECT * from
boarding""", conn)

##### What are the top routes, and how many people ride them daily?

In [ ]:
df = pd.read_sql("""

""", conn)
df

#### Let's take the daily column out as a Series ...

### Oops, too much data. Let's filter down to top 5 routes. How can we do that in SQL?

In [ ]:
df = pd.read_sql("""

""", conn)
df

Now, plot this!

In [ ]:
s = df["daily"]
s.plot.bar()

#### Huh, what exactly is route 0? Where is that coming from?
It is coming from dataframe row index!

In [ ]:
df

Let's fix that: we can use df.set_index(...)

In [ ]:
df = ???
df

And now plot this...

In [ ]:
s = df["daily"]
s.plot.bar()

### Wouldn't it be nice to have an "other" bar to represent other routes?
- we have to now get rid of LIMIT clause
- we have to deal with other routes using pandas

In [ ]:
df = pd.read_sql("""
SELECT Route, SUM(DailyBoardings) AS daily
FROM boarding
GROUP BY Route
ORDER BY daily DESC
""", conn)

df = df.set_index("Route")
s = df["daily"]
df

#### We are back to plotting all route bars ...

In [ ]:
s.plot.bar()

### How can we slice a pandas dataframe?
- Recall that .iloc allows us to do slicing.
- For reproducing previous 5-route plot, we just need to take first 5 route details and populate into a series s.
- For the "other" part, we want all the rows in dataframe after row 5 summed up together.

In [ ]:
s.plot.bar()