In [1]:
# Warmup 0
import sqlite3
import pandas as pd
from pandas import DataFrame, Series
import matplotlib
from matplotlib import pyplot as plt
matplotlib.rcParams["font.size"] = 15

In [ ]:
# Warmup 1: Write a function that converts any Fehrenheit temp to Celcius
# Note: The final exam will have about 25% material from earlier in the course
# C = (5/9) * (f-32)

def f_to_c(f):
    pass

# test it by making several calls

# Plotting Applications

**Learning Objectives**

- Make a line plot on a series or on a DataFrame
- Apply features of line plots and bar plots to visualize results of data investigations
- Clean Series data by dropping NaN values and by converting to int
- Make a stacked bar plot

## Line plots
- `SERIES.plot.line()`
- `DATAFRAME.plot.line()`    each column in the data frame becomes a line in the plot

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.line.html

In [ ]:
# when you make a series from a list, the default indices 0, 1, 2, ...
s = Series([1758, 2002, 2408, 2898, 3814, 4803, 5713, 6661, 7618, 8391, 8764]) # y values
s.plot.line()

In [ ]:
# You can make a series from a list and add indices
s = Series([1758, 2002, 2408, 2898, 3814, 4803, 5713, 6661, 7618, 8391, 8764], \
           index=[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])
s.plot.line()

In [ ]:
# We can save the AxesSubplot and "beautify" it like the other plots...
s.plot.line()

In [ ]:
# Be careful! If the indices are out of order you get a mess
# pandas plots each (index, value) in the order given
s = Series([1758, 2408, 2898, 3814, 4803, 5713, 6661, 7618, 8391, 8764, 2002], \
           index=[2010, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2011])
s.plot.line()
s

In [ ]:
# you can fix this by calling sort_index()

### Plotting lines from a DataFrame

In [ ]:
# This DataFrame is made using a dict of lists
# City of Madison normal high and low (degrees F) by month
temp_df = DataFrame( 
    {
    "high": [26, 31, 43, 57, 68, 78, 82, 79, 72, 59, 44, 30],
    "low": [11, 15, 25, 36, 46, 56, 61, 59, 50, 39, 28, 16]     }
)
temp_df

### A Line Plot made from a DataFrame automatically plots all columns

The same is true for bar plots; we'll see this later.

In [ ]:
# You can also add ticks and ticklabels to a line plot

ax = temp_df.plot.line(figsize=(12, 4))
ax.set_title("Average Temperatures in Madison, WI")
ax.set_xlabel("Month")
ax.set_ylabel("Temp (Fahrenheit)")
ax.set_xticks(range(12))   # makes a range from 0 to 11
ax.set_xticklabels(["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                   "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"])

# This gets rid of the weird output
None

In [ ]:
# ... Or explicitly pass the "x" and "y" parameters...
temp_df_with_month = DataFrame( 
    {
    "month": ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                   "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
    "high": [26, 31, 43, 57, 68, 78, 82, 79, 72, 59, 44, 30],
    "low": [11, 15, 25, 36, 46, 56, 61, 59, 50, 39, 28, 16]     }
)

ax = temp_df_with_month.plot.line(figsize=(12, 4))
ax.set_title("Average Temperatures in Madison, WI")
ax.set_xlabel("Month")
ax.set_ylabel("Temp (Fahrenheit)")

### We can perform a calculation on an entire DataFrame
Let's change the entire DataFrame to Celcius

In [ ]:
# call the function on the dataframe
celcius_df = ???
celcius_df

In [ ]:
# here is one way to add a horizontal line to our line plots
celcius_df["freezing"] = 0
celcius_df

In [ ]:
# this plots each column as lines
# with rotation for the tick labels
ax = celcius_df.plot.line(y=["high", "low", "freezing"], figsize = (12,4))
ax.set_xlabel("Month")
ax.set_ylabel("Temp (Celcius)")
ax.set_xticks(range(12))
ax.set_xticklabels(["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                    "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], rotation=45)
None

### Bar Plot Example w/ Fire Hydrants

- General review of Pandas
- Some new Bar Plot options

In [ ]:
hdf = ???
hdf.tail()

In [ ]:
# grab just the column names
???

### Let's create a *bar plot* to visualize *colors* of fire hydrants.

In [ ]:
# make a series called counts_series which stores the value counts of the "nozzle_color"
color_counts = ???
color_counts # what type is this?

In [ ]:
# TODO: Clean the data ......use str.upper()

color_counts= ???
color_counts

In [ ]:
# make a horizontal bar plot of counts of colors and have the colors match
# use color list: ["b", "g", "darkorange", "r", "c", "0.5"]

### Let's create a *bar plot* to visualize *style* of fire hydrants.

In [ ]:
# Do the same thing as we did for the colors but this time for the "Style"
style_counts = ???
style_counts

In [ ]:
style_counts.plot.bar()

In [ ]:
# Grab the top 12 


# and them add an index to our Series for the sum of all the "other" for

In [ ]:
# Plot the results

### Plot the year manufactured for the Pacer Style as opposed to other styles

In [ ]:
# Let's get the year manufactured for all of the "Pacer" hydrants.
pacer_years = ???
pacer_years

In [ ]:
# then do the same for all the other data
other_years = ???
other_years

In [ ]:
# Round each year down to the start of the decade.
# e.g. 1987 --> 1980,   2003 --> 2000
pacer_decades = ???
pacer_decades

In [ ]:
# Drop the NaN values, convert to int, and do value counts

In [ ]:
# Do the same thing for other_years. Save to a variable called "other_decades"

In [ ]:
# Build a DataFrame from a dictionary of key, Series
plot_df = DataFrame({
    "pacer": pacer_decades,
    "other": other_decades,
})
plot_df

In [ ]:
# Make a bar plot
ax = plot_df.plot.bar()
ax.set_xlabel("Decade")
ax.set_ylabel("Hydrant Count")

In [ ]:
# Ignore data from before 1950 using boolean indexing.

In [ ]:
# Make a Stacked Bar Chart!