In [1]:
import pandas as pd
import csv           # need this for the demo at the end

### Review:   Pandas Boolean Indexing

In [49]:
# Warmup 1: Read the data from "new_movie_data.csv" into a pandas DataFrame called "movies"
movies = None
movies

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,333.13
1,Prometheus,"Adventure,Mystery,Sci-Fi",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael ...",2012,124,7.0,126.46M
2,Split,"Horror,Thriller",M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,138.12M
3,Sing,"Animation,Comedy,Family",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,270.32
4,Suicide Squad,"Action,Adventure,Fantasy",David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,325.02
...,...,...,...,...,...,...,...,...
1063,Guardians of the Galaxy Vol. 2,"Action, Adventure, Comedy",James Gunn,"Chris Pratt, Zoe Saldana, Dave Bautista, Vin D...",2017,136,7.6,389.81
1064,Baby Driver,"Action, Crime, Drama",Edgar Wright,"Ansel Elgort, Jon Bernthal, Jon Hamm, Eiza Gon...",2017,113,7.6,107.83
1065,Only the Brave,"Action, Biography, Drama",Joseph Kosinski,"Josh Brolin, Miles Teller, Jeff Bridges, Jenni...",2017,134,7.6,18.34
1066,Incredibles 2,"Animation, Action, Adventure",Brad Bird,"Craig T. Nelson, Holly Hunter, Sarah Vowell, H...",2018,118,7.6,608.58
1067,A Star Is Born,"Drama, Music, Romance",Bradley Cooper,"Lady Gaga, Bradley Cooper, Sam Elliott, Greg G...",2018,136,7.6,215.29

In [9]:
# Warmup 2: Which movies has the longest "Runtime" ?
movies[]

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue
1038,The Irishman,"Biography, Crime, Drama",Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",2019,209,7.9,7

In [51]:
# Warmup 3: Which movies released in 2020 have a "Rating" higher than 8 ?

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue
998,Hamilton,"Biography, Drama, History",Thomas Kail,"Lin-Manuel Miranda, Phillipa Soo, Leslie Odom ...",2020,160,8.6,612.82
1000,Soorarai Pottru,Drama,Sudha Kongara,"Suriya, Madhavan, Paresh Rawal, Aparna Balamurali",2020,153,8.6,5.93
1022,Soul,"Animation, Adventure, Comedy",Pete Docter,"Kemp Powers, Jamie Foxx, Tina Fey, Graham Norton",2020,100,8.1,121

In [26]:
# Warmup 4: Of just the movies with a short (below-average) "Runtime", which has the highest "Rating"?
short_movies = None
short_movies

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue
96,Kimi no na wa,"Animation,Drama,Fantasy",Makoto Shinkai,"RyÃ»nosuke Kamiki, Mone Kamishiraishi, RyÃ´ Nari...",2016,106,8.6,4.68
249,The Intouchables,"Biography,Comedy,Drama",Olivier Nakache,"FranÃ§ois Cluzet, Omar Sy, Anne Le Ny, Audrey F...",2011,112,8.6,13.18

In [ ]:
# Warmup 5: With your partner, think of one more interesting question 
# Share it with the class

# Lecture 30: Web 2 - Generating HTML

Learning Objectives:

- Type by hand a basic HTML including a list, a link, and a table
- Convert a Python list into an HTML unordered list
- Convert a Python dictionary of URLs into an HTML of hyperlinks
- Convert a Pandas DataFrame into an HTML table

### Part A: Type by hand basic HTML  including a list, a link, and a table

Check out the lecture slides for a brief overview of HTML

**Markdown and Jupyter Notebook will recognize HTML tags**

### Basic Tags : i, p, b, br, h#
#### Most tags have an open and a close

<i>Make a new Jupyter Notebook text file in this directory.</i>
<p> The head,  body, and html tags are not necessary 
for a browswer to read a file.</p>

<h2> Happy Friday!! </h2>

It's going to be a <b>fun</b> day <br>

Note that br does not have a close tag

### Hyperlink tags have an anchor tag and a href attribute
`a`: anchor

`href=` : hyper references 


Andy's favorite restaurant on campus is 
<a href="https://shortstackeats.com/">Short Stack Eatery</a>

My favorite restaurant is

### Unordered List Tags
`ul` : starts an unordered list

`li` : add a list item

Ordered list example:

<ul> Favorite Campus Buildings:
    <li> WIDS
     <li> Education
 </ul>

### HTML Table Tags

`table`: start and end of a table

`tr`: start and end of a new row

`th`: a cell in the top row ... is bold

`td`: a cell inside a row

Add a few rows to the table below:

<table>
  <tr>
    <th>State</th>
    <th>Capital City</th>
  </tr>
  <tr>
    <td>Wisconsin</td>
    <td>Madison</td>
  </tr>
  <tr>
    <td>Indiana</td>
    <td>Indianapolis</td>
  </tr>
   <tr>
    <td>Illinois</td>
    <td>Springfield</td>
  </tr>
</table>

### Part B: Convert a Python list into an HTML unordered list

Given:  

`health_tips = ["Eat Healthy", "Exercise", "Relax", "Sleep"]`
    
Covert this Python list into a HTML ordered list:

<ul>
    <li>Eat Healthy</li>      
       <li>Exercise</li>
  <li>Relax</li>
       <li>Sleep</li>
</ul>

In [29]:
def list_to_html(my_list, path):
    # open the file for writing
    
    # write the <ul> and \n
    
    # write each item in the list with a \n after each </li>

    # write the </ul> and \n

    # close the file

    
todo_list = ["Eat Healthy", "Exercise", "Relax", "Sleep"]
list_to_html(todo_list, "todolist.html")

# check in the Jupyter Notebook parent tab that you made your document

### Part C. Convert a Dictionary of Web Site Name, URL into a HTML page of hyperlinks

In [32]:
# add 2 more sites
fav_sites = { "National Weather Service": "http://weather.gov",
            "Short Stack Eatery": "https://shortstackeats.com/",
            }

In [38]:
# first, let's just make a single string
html_string = ''

print(html_string)

<a href="http://weather.gov">National Weather Service</a><br><a href="https://shortstackeats.com/">Short Stack Eatery</a><br>

<a href="http://weather.gov">National Weather Service</a><br><a href="https://shortstackeats.com/">Short Stack Eatery</a><br>

In [39]:
# now that we know it works, open a file for writing and write the string to a file
f = None

### Part D:  Convert a Pandas Data Frame into a HTML table
Is there an easy way to make a HTML table?

Yes, Pandas has a DataFrame method `.tohtml()`

In [45]:
# convert the movies DataFrame to html
movies_html = None

# write it to a file

## Part E: Practice
On your own, can you take this data structure and make some kind of HTML page out of it?

Hint: to insert an image into a web page, use the img tag

https://www.w3schools.com/html/html_images.asp

In [ ]:
adoptable_cats_with_names = [
    {"name": "furball", "imglink": "https://g.petango.com/photos/2627/ed886769-7076-411d-b96b-8ec265c341f5.jpg"},
    {"name": "leo", "imglink": "https://g.petango.com/photos/2627/cb1e90e0-1c10-471a-95d5-107a35156eae.jpg"},
    {"name": "peach", "imglink": "https://g.petango.com/photos/2627/fc87cde4-b761-4b99-9ea1-40df4e42de3c.jpg"},
    {"name": "freddy", "imglink": "https://g.petango.com/photos/2627/2dfcb001-b211-4b98-b81f-0c63f43ae506.jpg"}
]

In [ ]:
# make something here, write it to a file, view it in Jupyter Notebook tab

# work a little bit at a time, add one thing, and test it

### Demo: Read a CSV file into a  dictionary, then convert into a series of web pages

In [3]:
# You can see this in the Complete file, 
# run the code and see how it works
# or try it out for yourself here