In [1]:

import requests # We will learn about this today!
import json
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Warmup 1: Read the data from "new_movie_data.csv" into a pandas DataFrame called "movies"
movies = pd.read_csv("new_movie_data.csv")
movies

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,333.13
1,Prometheus,"Adventure,Mystery,Sci-Fi",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael ...",2012,124,7.0,126.46M
2,Split,"Horror,Thriller",M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,138.12M
3,Sing,"Animation,Comedy,Family",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,270.32
4,Suicide Squad,"Action,Adventure,Fantasy",David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,325.02
...,...,...,...,...,...,...,...,...
1063,Guardians of the Galaxy Vol. 2,"Action, Adventure, Comedy",James Gunn,"Chris Pratt, Zoe Saldana, Dave Bautista, Vin D...",2017,136,7.6,389.81
1064,Baby Driver,"Action, Crime, Drama",Edgar Wright,"Ansel Elgort, Jon Bernthal, Jon Hamm, Eiza Gon...",2017,113,7.6,107.83
1065,Only the Brave,"Action, Biography, Drama",Joseph Kosinski,"Josh Brolin, Miles Teller, Jeff Bridges, Jenni...",2017,134,7.6,18.34
1066,Incredibles 2,"Animation, Action, Adventure",Brad Bird,"Craig T. Nelson, Holly Hunter, Sarah Vowell, H...",2018,118,7.6,608.58
1067,A Star Is Born,"Drama, Music, Romance",Bradley Cooper,"Lady Gaga, Bradley Cooper, Sam Elliott, Greg G...",2018,136,7.6,215.29

In [5]:
# Warmup 2: What years does this new movie dataset cover?  (min and max?)
movies["Year"]
print(movies["Year"].min(), "to", movies["Year"].max())

2006 to 2020

In [7]:
# Warmup 3a: What does this function do?
def format_revenue(revenue):
    if type(revenue) == float: # need this in here if we run code multiple times
        return revenue
    elif revenue[-1] == 'M': # some have an "M" at the end
        return float(revenue[:-1]) * 1e6
    else:                    # otherwise, assume millions.
        return float(revenue) * 1e6
format_revenue("17.3")

17300000.0

In [8]:
# Warmup 3b: Using the above function, create a new column called
#            "CountableRevenue" with the revenue as a float.

movies["CountableRevenue"] = movies["Revenue"].apply(format_revenue)
movies

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue,CountableRevenue
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,333.13,333130000.0
1,Prometheus,"Adventure,Mystery,Sci-Fi",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael ...",2012,124,7.0,126.46M,126460000.0
2,Split,"Horror,Thriller",M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,138.12M,138120000.0
3,Sing,"Animation,Comedy,Family",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,270.32,270320000.0
4,Suicide Squad,"Action,Adventure,Fantasy",David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,325.02,325020000.0
...,...,...,...,...,...,...,...,...,...
1063,Guardians of the Galaxy Vol. 2,"Action, Adventure, Comedy",James Gunn,"Chris Pratt, Zoe Saldana, Dave Bautista, Vin D...",2017,136,7.6,389.81,389810000.0
1064,Baby Driver,"Action, Crime, Drama",Edgar Wright,"Ansel Elgort, Jon Bernthal, Jon Hamm, Eiza Gon...",2017,113,7.6,107.83,107830000.0
1065,Only the Brave,"Action, Biography, Drama",Joseph Kosinski,"Josh Brolin, Miles Teller, Jeff Bridges, Jenni...",2017,134,7.6,18.34,18340000.0
1066,Incredibles 2,"Animation, Action, Adventure",Brad Bird,"Craig T. Nelson, Holly Hunter, Sarah Vowell, H...",2018,118,7.6,608.58,608580000.0
1067,A Star Is Born,"Drama, Music, Romance",Bradley Cooper,"Lady Gaga, Bradley Cooper, Sam Elliott, Greg G...",2018,136,7.6,215.29,215290000.0

In [11]:
# Warmup 4: What are the top 10 highest-revenue movies?

movies.sort_values(by="CountableRevenue", ascending=False).head(10)

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue,CountableRevenue
50,Star Wars: Episode VII - The Force Awakens,"Action,Adventure,Fantasy",J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac, Domhna...",2015,136,8.1,936.63,936630000.0
1006,Avengers: Endgame,"Action, Adventure, Drama",Anthony Russo,"Joe Russo, Robert Downey Jr., Chris Evans, Mar...",2019,181,8.4,858.37,858370000.0
87,Avatar,"Action,Adventure,Fantasy",James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",2009,162,7.8,760.51,760510000.0
1007,Avengers: Infinity War,"Action, Adventure, Sci-Fi",Anthony Russo,"Joe Russo, Robert Downey Jr., Chris Hemsworth,...",2018,149,8.4,678.82,678820000.0
85,Jurassic World,"Action,Adventure,Sci-Fi",Colin Trevorrow,"Chris Pratt, Bryce Dallas Howard, Ty Simpkins,...",2015,124,7.0,652.18,652180000.0
76,The Avengers,"Action,Sci-Fi",Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",2012,143,8.1,623.28,623280000.0
998,Hamilton,"Biography, Drama, History",Thomas Kail,"Lin-Manuel Miranda, Phillipa Soo, Leslie Odom ...",2020,160,8.6,612.82,612820000.0
1066,Incredibles 2,"Animation, Action, Adventure",Brad Bird,"Craig T. Nelson, Holly Hunter, Sarah Vowell, H...",2018,118,7.6,608.58,608580000.0
54,The Dark Knight,"Action,Crime,Drama",Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,533.32,533320000.0
12,Rogue One,"Action,Adventure,Sci-Fi",Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,532.17,532170000.0

# Lecture 29: Web 1 - Getting Data
Learning Objectives

- Make a request for data using `requests.get(URL)`
- Check the status of a request/response
- Extract the text of a response
- Create a json file from a response
- State and practice good etiquette when getting data

## Make a request for data using `requests.get(URL)`
- URL: https://www.msyamkumar.com/hello.txt

In [12]:
url = "https://www.msyamkumar.com/hello.txt"
r = requests.get(url)        # r is the response
print(r.status_code)
print(r.text)

200
Hello CS220 / CS319 students! Welcome to my website. Hope you are staying safe and healthy!

### HTTP Status Codes  you need to know

- 200:  success
- 404:  not found

Here is a list of all status codes, you do NOT need to memorize it

https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

In [14]:
# Q: What if the web file does not exist?
typo_url = "https://www.msyamkumar.com/hello.txttttt"
r = requests.get(typo_url)
print(r.status_code)
print(r.text)

# A: We get a 404 (client error)
# A: we get text, but the text is not from the client

404
<?xml version="1.0" encoding="UTF-8"?>
<Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>meena/hello.txttttt</Key><RequestId>ZDQSDZQ6TJAKD3C5</RequestId><HostId>LxtxISgRp+SMDtG6Gez9rK+f2WZNyVyKQLU84qhxWPgYpF1A1clkGu3mfKiLQ4Lwe5lhoEXcxE0=</HostId></Error>

## Check the status of a request/response

In [15]:
# We can check for a status_code error by using an assert
typo_url = "https://www.msyamkumar.com/hello.txttttt"
r = requests.get(typo_url)
print(r.status_code)
assert r.status_code == 200                 # change this
print(r.text)

404

AssertionError:

In [16]:
# Instead of using an assert, we often use raise_for_status()
r = requests.get(typo_url)
r.raise_for_status() #similar to asserting r.status_code == 200
r.text

# Note the error you get.... We will use this in the next cell

HTTPError: 404 Client Error: Not Found for url: https://www.msyamkumar.com/hello.txttttt

In [18]:
# Let's try to catch that error

try:
    r = requests.get(typo_url)
    r.raise_for_status() #similar to asserting r.status_code == 200
    r.text
except requests.HTTPError as e:
    print("oops!!", e)

oops!! 404 Client Error: Not Found for url: https://www.msyamkumar.com/hello.txttttt

## Create a json file from a response

- URL: https://www.msyamkumar.com/scores.json
- `json.load` (FILE_OBJECT)
- `json.loads` (STRING)

In [19]:
# GETting a JSON file, the long way
url = "https://www.msyamkumar.com/scores.json"
r = requests.get(url)
r.raise_for_status()
urltext = r.text
print(urltext)
d = json.loads(urltext)
print(type(d), d)

{
  "alice": 100,
  "bob": 200,
  "cindy": 300
}

<class 'dict'> {'alice': 100, 'bob': 200, 'cindy': 300}

In [20]:
# GETting a JSON file, the shortcut way
url = "https://www.msyamkumar.com/scores.json"
#Shortcut to bypass using json.loads()
r = requests.get(url)
r.raise_for_status()
d2 = r.json()
print(type(d2), d2)

<class 'dict'> {'alice': 100, 'bob': 200, 'cindy': 300}

## Good GET Etiquette

Don't make a lot of requests to the same server all at once.
 - Requests use up the server's time
 - Major websites will often ban users who make too many requests
 - You can break a server....similar to DDoS attacks (DON'T DO THIS)
 
In CS220 we will usually give you a link to a copied file to avoid overloading the site.

## DEMO: Course Enrollment

Explore the API!

https://coletnelson.us/cs220-api/classes

https://coletnelson.us/cs220-api/classes_as_txt

https://coletnelson.us/cs220-api/classes/MATH_221

https://coletnelson.us/cs220-api/classes/COMPSCI_200

... etc

https://coletnelson.us/cs220-api/all_data

### Get the list of classes.

#### When the data is `json`

In [21]:
url = "https://coletnelson.us/cs220-api/classes"
r = requests.get(url)
r.raise_for_status()
classes_list = r.json() # what goes here? 
print(type(classes_list))
print(classes_list)

<class 'list'>
['PSYCH_202', 'COMPSCI_537', 'COMPSCI_300', 'CHEM_104', 'COMPSCI_200', 'MATH_114', 'PSYCH_456', 'COMPSCI_252', 'COMPSCI_400', 'MATH_221', 'BIOLOGY_101', 'COMPSCI_354', 'CHEM_103', 'COMPSCI_639', 'PSYCH_401', 'COMPSCI_240', 'STATS_302']

#### When the data is `text`

In [ ]:
url = "https://coletnelson.us/cs220-api/classes_as_txt"
r = requests.get(url)
r.raise_for_status()
classes_txt = None  # what goes here? 
print(type(classes_txt))
print(classes_txt)

### Get data for a specific class

In [29]:
# Work-around: Read the data in as a JSON file
# use this function


# Deserialize
def read_json(path):
    with open(path, encoding="utf-8") as f: # f is a varaible 
        return json.load(f)                 # f represents a reference the JSON file
    
    
# Serialize
def write_json(path, data):
    with open(path, 'w', encoding="utf-8") as f:
        json.dump(data, f, indent=2)

In [34]:
#read this data from the json file:
cs200_data = read_json("cs200_data.json")
len(cs200_data)

8

In [38]:
cs200_data.keys()

dict_keys(['credits', 'description', 'keywords', 'name', 'number', 'requisites', 'sections', 'subject'])

In [ ]:
# Get the number of credits the course is worth

In [ ]:
# Get the list of keywords for the course

In [ ]:
# Get the official course name

In [ ]:
# Get the number of sections offered.

In [24]:
print(len(all_class_data))

17

In [36]:
# write it out to a json file locally
write_json("all_class_data.json", all_class_data)

In [40]:
# read in the all_class data as a json file
all_class_data = read_json("all_class_data.json")
len(all_class_data)

17

In [43]:
type(all_class_data)

list

In [44]:
# print out the first dictionary in this list
all_class_data[0]

{'credits': 3,
 'description': 'Behavior, including its development, motivation, frustrations, emotion, intelligence, learning, forgetting, personality, language, thinking, and social behavior.',
 'keywords': ['psychology', 'behavior', 'emotion', 'intelligence', 'brain'],
 'name': 'Introduction to Psychology',
 'number': 'PSYCH_202',
 'requisites': [],
 'sections': [{'instructor': 'Jeff Henriques',
   'location': '105 Brogden Psychology Building',
   'subsections': [],
   'time': {'thursday': '9:30am - 10:45am', 'tuesday': '9:30am - 10:45am'},
   'number': 'LEC_001'},
  {'instructor': 'Jeff Henriques',
   'location': '105 Brogden Psychology Building',
   'subsections': [],
   'time': {'thursday': '11:00am - 12:15pm', 'tuesday': '11:00am - 12:15pm'},
   'number': 'LEC_002'},
  {'instructor': 'C. Shawn Green',
   'location': '105 Brogden Psychology Building',
   'subsections': [],
   'time': {'monday': '8:00am - 9:15am', 'wednesday': '8:00am - 9:15am'},
   'number': 'LEC_003'},
  {'instructor': 'Patti Coffey',
   'location': '105 Brogden Psychology Building',
   'subsections': [],
   'time': {'thursday': '1:00pm - 2:15pm', 'tuesday': '1:00pm - 2:15pm'},
   'number': 'LEC_004'},
  {'instructor': 'Sarah Gavac',
   'location': '105 Brogden Psychology Building',
   'subsections': [],
   'time': {'thursday': '2:30pm - 3:45pm', 'tuesday': '2:30pm - 3:45pm'},
   'number': 'LEC_005'},
  {'instructor': 'Patti Coffey',
   'location': '101 Brogden Psychology Building',
   'subsections': [],
   'time': {'thursday': '2:30pm - 3:45pm', 'tuesday': '2:30pm - 3:45pm'},
   'number': 'LEC_006'},
  {'instructor': 'Baoyu Wang',
   'location': '105 Brogden Psychology Building',
   'subsections': [],
   'time': {'monday': '4:30pm - 5:15pm', 'wednesday': '4:30pm - 5:15pm'},
   'number': 'LEC_009'}],
 'subject': 'Psychology'}

In [46]:
# Print the number of credits, course number, and name for each class.
for item in all_class_data:
    print(item['credits'], item['number'], item['name'])

3 PSYCH_202 Introduction to Psychology
4 COMPSCI_537 Introduction to Operating Systems
3 COMPSCI_300 Programming 2
5 CHEM_104 General Chemistry II
3 COMPSCI_200 Programming 1
5 MATH_114 Algebra and Trigonometry
4 PSYCH_456 Introductory Social Psychology
2 COMPSCI_252 Introduction to Computer Engineering
3 COMPSCI_400 Programming 3
5 MATH_221 Calculus and Analytical Geometry 1
3 BIOLOGY_101 Animal Biology
3 COMPSCI_354 Machine Organization and Programming
4 CHEM_103 General Chemistry I
3 COMPSCI_639 Building User Interfaces
3 PSYCH_401 Psychology, Law, and Social Policy
3 COMPSCI_240 Introduction To Discrete Mathematics
3 STATS_302 Accelerated Introduction to Statistical Methods

In [ ]:
# What is the average number of credits per course?

In [ ]:
# What are the unique subjects?

In [ ]:
# Besides PYSCH 202, what are the course numbers of the courses
# with the most sections offered (not including subsections)?
high_courses = []
high_sections = 0
for spec_class in all_class_data:
    pass
high_courses

### Can we make a Pandas dataframe? Yes!

In [ ]:
all_course_frame = DataFrame(all_class_data)
all_course_frame

### We may want to do some "plumbing" with our data.

In [ ]:
# Remove the 'sections' and 'requisites' column.
new_course_frame = all_course_frame.loc[:, "credits":"number"]
new_course_frame["subject"] = all_course_frame.loc[:, "subject"]
new_course_frame

In [ ]:
# Turn 'keywords' into a series of Strings and remove the '[', ']', '''
new_course_frame["keywords"] = new_course_frame["keywords"].astype('string')
new_course_frame["keywords"] = new_course_frame["keywords"].str.replace("[", "", regex=False)
new_course_frame["keywords"] = new_course_frame["keywords"].str.replace("]", "", regex=False)
new_course_frame["keywords"] = new_course_frame["keywords"].str.replace("'", "", regex=False)
new_course_frame

### Pandas Operations

In [ ]:
# What is the most number of credits a course offers?

In [ ]:
# What is the least number of credits a course offers?

In [ ]:
# What is the info for that course?

In [ ]:
# What courses contain the keyword "programming"?

In [ ]:
# What course has the most lengthy description?

### Write it out to a CSV file on your drive
You now have your own copy!

In [ ]:
# Write it all out to a single CSV file
new_course_frame.to_csv("my_course_data.csv", index=False)

### Other Cool APIs

- City of Madison Transit: http://transitdata.cityofmadison.com/
- Reddit: https://reddit.com/r/UWMadison.json
- Lord of the Rings: https://the-one-api.dev/
- Pokemon: https://pokeapi.co/

Remember: Be judicious when making requests; don't overwhelm the server! :)

## Next Time
What other documents can we get via the Web? HTML is very popular! We'll explore this.